

<div class="chart-container container">
  <div class="row">
    <div class="col col-xl-4 col-lg-12 col-md-12">
      <div class="border border-secondary-subtle m-2 p-3 d-flex flex-column">
        <h4>Net Water User</h4>
        <net-water-use-chart></net-water-use-chart>
      </div>
    </div>
    <div class="col col-xl-8 col-lg-12 col-md-12">
      <div class="border border-secondary-subtle m-2 p-3 d-flex flex-column">
        <h4>Water Accounting</h4>
        <app-water-accounting></app-water-accounting>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4 col-md-12 col-sm-12">
      <div class="border border-secondary-subtle m-2 p-3 d-flex flex-column">
        <h4>Source Water Intake</h4>
        <source-water-intake-chart></source-water-intake-chart>
      </div>
    </div>
    <div class="col col-lg-4 col-md-12 col-sm-12">
      <div class="border border-secondary-subtle m-2 p-3 d-flex flex-column">
        <h4>Waste Water Discharge</h4>
        <waste-water-discharge-chart></waste-water-discharge-chart>
      </div>
    </div>
    <div class="col col-lg-4 col-md-12 col-sm-12">
      <div class="border border-secondary-subtle m-2 p-3 d-flex flex-column">
        <h4>Gross Water Use</h4>
        <gross-water-use-chart></gross-water-use-chart>
      </div>
    </div>
  </div>
</div>
